:root {
    --section-one-font-size: 6rem;
}

.header > .section-1:first-child {
        margin-bottom: 1.6rem;
}

hr {
        display: none;
}

@media all and (min-width: 1300px) {
        :root {
                --header-width: 50.25rem;
                --section-one-font-size: 6.3rem;
        }

        .section-1 {
                margin-left: -14rem;
                margin-right: -16rem;
        }

        .header > .section-1:first-child {
                margin-bottom: 1.9rem;
                margin-top: 6rem;
        }
}
