:root {
        --color-red: #81667f;

        --color-text: white;
        --color-title: white;
        --color-header: var(--color-red);
        --color-header-hover: #a53221;
        --color-bg: #140f08;
        --color-selection: var(--color-red);
        --color-link: var(--color-red);
        --color-subtitle: white;
        --code-bg: #fffbfd;

        --color-snow: white;

        --section-one-font-size: 6rem;
}

.header > .section-1:first-child {
        margin-bottom: 1.6rem;
}
