@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Italic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Iosevka';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("iosevka-regular.woff") format("woff");
}
@font-face {
  font-family: 'Iosevka';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("iosevka-italic.woff") format("woff");
}
