.gallery-container + .writing {
        font-size: calc(var(--paragraph-size) * 0.9);
        font-style: italic;
        font-optical-sizing: auto;
        color: var(--paper-hover);
        margin-top: -2.6rem;
        text-align: center;
        /* padding-left: 4rem; */
}

/* Only on larger screens, make the gap wider */
@media all and (min-width: 900px) {
        .gallery-container {
                margin-top: 3.7rem;
        }
}

hr {
        border: solid var(--ink-secondary);
        border-width: 1px;
}

.gallery-container + .writing p {
        line-height: 1.4;
        color: var(--ink-caption);
}

.gallery-container + .writing strong {
        display: block;
        margin-top: 0.2rem;
        color: var(--paper-hover);
        font-size: calc(var(--paragraph-size) * 0.95);
}
