body
{
    background-image: url(space.jpg);
    background-size: 100%;
    background-repeat: repeat;
    color: white;
}

a
{
    color: white;
}

a:hover
{
    color: blue;
}

p
{
    color: white;
}
