/* Originally from http://bettermotherfuckingwebsite.com */
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Inter&display=swap");
body {
  margin: 40px auto;
  max-width: 900px;
  line-height: 1.6;
  font-size: 16px;
  background: #fffff4;
  /* color: #222; */
  color: #3a1616;
  padding: 0 10px;
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3 {
  line-height: 1.2;
  font-family: "Inter", sans-serif;
}
img {
  max-width: 750px;
  border-radius: 10px;
}
a {
  cursor: pointer;
  color: #217ab7;
  line-height: inherit;
}
a:hover {
  color: white;
  background-color: #3297d3;
}
a:visited {
  color: #43458b;
  border-color: #43458b;
}
pre {
  font-family: "Inconsolata", monospace;
}
::selection {
  color: white;
  background: #ff4081;
}
