@import url("soot_darker.css");

:root {
        --color-red: #75463d;

        --color-text: white;
        --color-title: white;
        --color-header: var(--color-red);
        --color-header-hover: #a53221;
        --color-selection: var(--color-red);
        --color-link: var(--color-red);

        --section-one-font-size: 5.7rem;
}

.header > .section-1:first-child {
        margin-bottom: 1.2rem;
}

hr {
    display: none;
}

#date-section {
        margin-bottom: -2rem;
}

@media all and (min-width: 550px) {
    .pre-vid-skip {
        margin-bottom: 9rem;
    }
}
