@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
       url('fonts/FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('fonts/FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: normal;
}
img {
  border-radius: 10px;
}
input {
    padding: 10px 16px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #dabebe;
    border-radius: 6px;
    background: #fffff4;
    color: #3a1616;
    font-size: 16px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input:focus {
    border: 2px solid #3a1616;
}
a {
  cursor: pointer;
  color: #217ab7;
  line-height: inherit;
}
a:hover {
  color: white;
  background-color: #3297d3;
}
a:visited {
  color: #43458b;
  border-color: #43458b;
}
a:visited:hover {
  color: white;
  background-color: #9251ac;
}
body {
  background: #fffff4;
  color: #3a1616;
  font-family: "Inter", sans-serif;
}
code,
pre {
  font-family: 'Fantasque Sans Mono', monospace;
}
::selection {
  color: white;
  background: #ff4081;
}
h2 {
  font-size: 2em;
}
h3,
#toctitle,
.sidebarblock > .content > .title {
  font-size: 1.5em;
}
