@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Inter&display=swap");
img {
  border-radius: 10px;
}
a {
  cursor: pointer;
  color: #217ab7;
  line-height: inherit;
}
a:hover {
  color: white;
  background-color: #3297d3;
}
a:visited {
  color: #43458b;
  border-color: #43458b;
}
a:visited:hover {
  color: white;
  background-color: #9251ac;
}
body {
  background: #fffff4;
  color: #3a1616;
  font-family: "Inter", sans-serif;
}
code,
pre {
  font-family: "Roboto Mono", monospace;
}
::selection {
  color: white;
  background: #ff4081;
}
h2 {
  font-size: 2em;
}
h3,
#toctitle,
.sidebarblock > .content > .title {
  font-size: 1.5em;
}
